[submodule ".registry"]
	path = .registry
	url = https://github.com/juhalt/juhalt.r-universe.dev
	branch = HEAD
[submodule "solomonR"]
	path = solomonR
	url = https://github.com/JUhalt/solomonR
	branch = *release
