[submodule ".registry"]
	path = .registry
	url = https://github.com/juhalt/juhalt.r-universe.dev
	branch = HEAD
[submodule "contentvalidR"]
	path = contentvalidR
	url = https://github.com/JUhalt/contentvalidR
	branch = *release
[submodule "solomonR"]
	path = solomonR
	url = https://github.com/JUhalt/solomonR
	branch = v0.2.0
